@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="intro-body">
    <h1 class="brand-heading">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="intro-text">
                    Our websites privacy policy will be detailed soon.
                </p>
                <h3>@TempData["RegMessage"]</h3>
                <a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
            </div>
        </div>
    </div>
</div>