@{
    ViewData["Title"] = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                    <p>Businesses will show up here soon.</p>
                    @*<h3>@TempData["RegMessage"]</h3>*@
                </div>
            </div>
        </div>
    </div>
</div>