@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to the WhiteList!</h1>
    <p>You're part of a small subset of users to register here!</p>
</div>
